 {%- if section.settings.heading != blank -%}
    <h2>{{ section.settings.heading }}</h2>
  {%- endif -%}
  {%- if section.settings.html != blank -%}
    {{ section.settings.html }}
  {%- endif -%}
</section>

{% schema %}
{
  "name": "Custom HTML",
  "tag": "section",
  "class": "custom-html",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "Add a heading"
    },
    {
      "type": "textarea",
      "id": "html",
      "label": "Custom HTML"
    }
  ],
  "presets": [
    {
      "name": "Custom HTML"
    }
  ]
}
{% endschema %}
