.newsletter-form .field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 36rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  background: hsl(var(--background));
  margin-right: 0.75rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__field-wrapper .field__label {
  display: none;
}

.newsletter-form__field-wrapper button {
  border-radius: 0 0;
}

.newsletter-form__message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

.newsletter-form__message svg {
  block-size: 2.5rem;
  inline-size: 2.5rem;
  margin-inline-end: 0.75rem;
}
