section.intro {
  background-color: hsl(var(--accent));
  padding: 0;
}

section.intro > div > div {
  color: hsl(var(--on-accent));
  padding-block: 2rem;
  text-align: center;
}

section.intro > div > div > *:first-child {
  margin-block-start: 0;
}

section.intro > div > div > *:last-child {
  margin-block-end: 0;
}

section.intro > div > div > h1 > span,
section.intro > div > div > h2 > span,
section.intro > div > div > h3 > span {
  display: block;
  font-size: 40%;
  font-weight: 600;
  letter-spacing: 0.25rem;
  padding-block-end: 1rem;
  text-transform: uppercase;
}

section.intro > div.has-image {
  display: grid;
  grid:
    "image"
    "text";
  place-content: start;
}

section.intro > div.has-image > div {
  grid-area: text;
  place-self: center;
}

section.intro > div.has-image > img {
  grid-area: image;
  place-self: center;
}

@media (min-width: 48em) {
  section.intro > div.has-image {
    grid:
      "text image"
      / 2fr 2fr;
  }

  section.intro > div.image-left {
    grid:
      "image text"
      / 2fr 2fr;
  }
}
