:root {
  /* slate */
  --slate-1: 255 255 255;
  --slate-1-2: 234 235 236;
  --slate-1-5: 209 211 214;
  --slate-2: 179 184 189;
  --slate-5: 102 111 122;
  --slate-9: 63 76 90;
  --slate-12: 45 55 67;
  --slate-15: 33 40 48;
  --slate-16: 30 35 41;
  --slate-17: 24 28 33;
  --slate-19: 13 15 18;

  /* sun */
  --sun-2-5: 219 148 61;

  /* ocean */
  --ocean-3: 73 162 171;

  /* grass */
  --grass-3: 76 144 87;

  /* berry */
  --berry-4: 203 94 72;

  /* blue */
  --blue-3: 112 154 194;
  --blue-6: 23 102 166;

  /* purple */
  --purple-3: 145 143 189;
  --purple-6: 99 89 177;

  /* pink */
  --pink-3: 210 121 129;
  --pink-6: 191 18 116;

  /* red */
  --red-6: 191 31 17;

  /* yellow */
  --yellow-1-2: 253 253 8;
}
