:root {
  /* slate */
  --slate-1: 0 0% 100%;
  --slate-1-2: 210 5% 92%;
  --slate-1-5: 216 6% 83%;
  --slate-2: 210 7% 72%;
  --slate-5: 213 9% 44%;
  --slate-9: 211 18% 30%;
  --slate-12: 214 19% 22%;
  --slate-15: 214 18% 16%;
  --slate-16: 213 16% 14%;
  --slate-17: 213 16% 11%;
  --slate-19: 216 15% 6%;

  /* sun */
  --sun-2-5: 33 69% 55%;

  /* ocean */
  --ocean-3: 186 40% 48%;

  /* berry */
  --berry-4: 10 56% 54%;

  /* blue */
  --blue-3: 209 40% 60%;
  --blue-6: 207 76% 37%;

  /* purple */
  --purple-3: 243 26% 65%;
  --purple-6: 247 36% 52%;

  /* pink */
  --pink-3: 335 50% 65%;
  --pink-6: 326 83% 41%;

  /* red */
  --red-6: 5 84% 41%;

  /* yellow */
  --yellow-1-2: 60 98% 51%;
}
