:root {
  /* text */
  --text: var(--slate-9);
  --text-secondary: var(--slate-5);
  --text-inverse: var(--slate-1);

  /* backgrounds */
  --background: var(--slate-1);
  --background-secondary: var(--slate-1-2);
  --elevated: var(--slate-1);
  --sunken: var(--slate-1-2);

  /* dimension */
  --drop: var(--slate-19);

  /* functional */
  --link: var(--blue-6);
  --visited: var(--purple-6);
  --active: var(--pink-6);
  --focus: var(--yellow-1-2);
  --on-focus: var(--slate-9);
  --on-focus-link: var(--blue-6);
  --on-focus-visited: var(--purple-6);
  --on-focus-active: var(--pink-6);

  /* elements */
  --divider: var(--slate-1-5);
  --input: var(--slate-2);
  --input-icon: var(--slate-9);
  --meta: var(--slate-1-5);
  --on-meta: var(--slate-8);

  /* custom elements */

  /* command */
  --command: var(--ocean-3);

  /* dark mode toggle */
  --toggle-label: var(--slate-9);
  --toggle-track: var(--slate-1-2);
  --toggle-thumb: var(--slate-2);

  /* error */
  --error: var(--red-6);
  --on-error: var(--slate-1);

  color-scheme: light;
}

/* logo switch */
.dark-mode-logo {
  display: none;
}
