:root {
  /* brand */
  --color-base-accent-2: var(--color-base-accent-1);
  --gradient-base-accent-1: var(--color-base-accent-1);
  --gradient-base-accent-2: var(--color-base-accent-1);

  /* text */
  --color-base-text: var(--slate-1-2);
  --color-foreground: var(--slate-1-2);

  /* backgrounds */
  --color-base-background-1: var(--slate-19);
  --color-base-background-2: var(--slate-16);
  --gradient-base-background-1: var(--slate-19);
  --gradient-base-background-2: var(--slate-16);
  --payment-terms-background-color: var(--slate-16);

  /* buttons */
  --color-base-outline-button-labels: var(--color-base-solid-button-labels);

  /* dimension */
  --color-shadow: var(--slate-12);

  /* dark mode toggle */
  --toggle-label: var(--slate-1-5);
  --toggle-track: var(--slate-12);
  --toggle-thumb: var(--color-base-accent-1);

  color-scheme: light;
}
