:root {
  /* brand */
  --color-base-accent-2: var(--color-base-accent-1);
  --gradient-base-accent-1: var(--color-base-accent-1);
  --gradient-base-accent-2: var(--color-base-accent-1);

  /* text */
  --color-base-text: var(--slate-9);
  --color-foreground: var(--slate-9);

  /* backgrounds */
  --color-base-background-1: var(--slate-1);
  --color-base-background-2: var(--slate-1-2);
  --gradient-base-background-1: var(--slate-1);
  --gradient-base-background-2: var(--slate-1-2);
  --payment-terms-background-color: var(--slate-1-2);

  /* badges */
  --color-badge-background: var(--color-base-accent-1);
  --color-badge-border: var(--color-base-accent-1);
  --alpha-badge-border: 0;

  /* buttons */
  --color-button: var(--color-base-accent-1);
  --color-button-text: var(--color-base-solid-button-labels);
  --color-base-outline-button-labels: var(--color-base-solid-button-labels);

  /* dimension */
  --color-shadow: var(--slate-19);

  /* dark mode toggle */
  --toggle-label: var(--slate-5);
  --toggle-track: var(--slate-1-5);
  --toggle-thumb: var(--color-base-accent-1);

  color-scheme: light;
}

/* Color custom properties */

:root,
.color-background-1 {
  --color-foreground: var(--color-base-text);
  --color-background: rgb(var(--color-base-background-1));
  --gradient-background: rgb(var(--gradient-base-background-1));
}

.color-background-2 {
  --color-foreground: var(--color-base-text);
  --color-background: rgb(var(--color-base-background-2));
  --gradient-background: rgb(var(--gradient-base-background-2));
}

.color-inverse {
  --color-foreground: var(--color-base-solid-button-labels);
  --color-background: rgb(var(--color-base-text));
  --gradient-background: rgb(var(--color-base-text));
}

.color-accent-1 {
  --color-foreground: var(--color-base-solid-button-labels);
  --color-background: rgb(var(--color-base-accent-1));
  --gradient-background: rgb(var(--gradient-base-accent-1));
}

.color-accent-2 {
  --color-foreground: var(--color-base-solid-button-labels);
  --color-background: rgb(var(--color-base-accent-2));
  --gradient-background: rgb(var(--gradient-base-accent-2));
}
