#shopify-section-announcement-bar {
  z-index: 4;
}

.announcement-bar {
  color: hsl(var(--on-accent));
  background-color: hsl(var(--accent));
}

.announcement-bar__link {
  display: block;
  color: hsl(var(--on-accent));
  width: 100%;
  padding: 1rem 2rem;
  text-decoration: none;
}

.announcement-bar__link .icon-arrow {
  display: inline-block;
  pointer-events: none;
  inline-size: 1.5rem;
  margin-left: 0.8rem;
  vertical-align: middle;
  margin-bottom: 0.2rem;
}

.announcement-bar__link .announcement-bar__message {
  padding: 0;
}

.announcement-bar__message {
  text-align: center;
  padding: 1rem 2rem;
  margin: 0;
}
