section.image-banner {
  margin-inline: auto;
  max-inline-size: 140rem;
  overflow: hidden;
  padding: 0 0 1rem;
}

section.image-banner > div > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 2rem 0;
  position: relative;
  text-align: center;
  z-index: 2;
}

section.image-banner > div > div > p.lede {
  margin-block-start: 0;
}

section.image-banner > div > div > p.signpost {
  margin-block-start: 2rem;
}

section.image-banner > div > div > p.signpost > a {
  max-inline-size: 10rem;
}

section.image-banner > div > div > p > a.prominent {
  background-color: hsl(var(--accent));
  color: hsl(var(--on-accent));
  padding: 1rem 1.5rem;
}

section.image-banner > div > img {
  block-size: 100%;
  inline-size: 100%;
  position: relative;
  z-index: 1;
}

section.image-banner > div > svg {
  opacity: 0.5;
}

@media (min-width: 48em) {
  section.image-banner > div.image-banner-inner {
    align-items: center;
    background-size: cover;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    min-block-size: 24rem;
    overflow: hidden;
    padding: 3rem;
    position: relative;
  }

  section.image-banner > div.background-image {
    background: var(--hero-background-image);
  }

  section.image-banner > div > div > span {
    margin-block-end: 0;
  }

  section.image-banner > div.content-center {
    background-position: top;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  section.image-banner > div.content-center > div {
    max-inline-size: 40rem;
    min-inline-size: 28rem;
  }

  section.image-banner > div.content-right {
    background-position: 0 0;
    justify-items: end;
  }

  section.image-banner > div.content-right > div {
    grid-column: 2;
  }

  section.image-banner > div.content-right > div > a {
    margin: 1rem 0;
  }

  section.image-banner > div.content-right > div > span {
    margin: 1rem 0 0;
  }

  section.image-banner > div.content-left {
    background-position: 100% 0;
  }

  section.image-banner > div.content-left > div {
    grid-column: 1;
  }

  section.image-banner > div.content-left > div,
  section.image-banner > div.content-right > div {
    align-items: start;
    min-inline-size: 80%;
    text-align: start;
  }

  section.image-banner > div.content-left > div > a {
    margin: 1rem 0;
  }

  section.image-banner > div.content-left > div > span {
    margin: 1rem 0 0;
  }

  section.image-banner > div > img {
    display: none;
  }

  section.image-banner > div > svg {
    display: none;
  }

  section.image-banner > div.background-image > div {
    background-color: hsla(var(--background) / var(--hero-box-opacity));
    grid-row: 1;
    margin-inline: 0;
    padding: 2rem;
    z-index: 2;
  }

  div.text-invert,
  div.text-invert > p.signpost > a {
    color: hsl(var(--text-inverse));
  }

  div.text-invert > p.prominent > a > span,
  div.text-invert > p.prominent > a > svg {
    color: hsl(var(--on-accent));
  }

  section.image-banner > div > div > h1,
  section.image-banner > div > div > h2,
  section.image-banner > div > div > h3 {
    margin-block-start: 0;
  }

  section.image-banner > div > div > p {
    margin-block-end: 0;
  }

  section.image-banner > div.background-image::before {
    background: hsla(0deg 0% 0% / var(--hero-overlay-opacity));
    block-size: 100ch;
    content: "";
    display: block;
    inline-size: 100vw;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    z-index: 2;
  }
}

@media (min-width: 80em) {
  section.image-banner > div > div > h1,
  section.image-banner > div > div > h2,
  section.image-banner > div > div > h3 {
    margin-block-start: 0;
  }
}
