div.top {
  padding-inline: max((100% - 16rem) / 2, 4vw);
  text-align: center;
}

div.top > a {
  background-color: hsl(var(--background));
  border: 1px solid hsl(var(--divider));
  border-radius: 4rem;
  padding: 0.75rem 1rem;
  text-decoration-line: none;
}

div.top > a:hover {
  text-decoration-line: underline;
}

div.top > a:focus-visible {
  background-color: hsl(var(--focus));
  color: hsl(var(--on-focus-link));
}
